# Environment variables
.env
praw.ini

# Log files
*.log

# Python artifacts
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# Virtual environment
venv/

# Notebooks
*.ipynb	diff=jupyternotebook

*.ipynb	merge=jupyternotebook
